- content_for :head do
  
  -# Stripe Key
  = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
  
-# Header
%h2 Account

-# Stripe Error
#stripe_error.alert.alert-error{:style => "display:none"}

-# Form
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f|
  = f.error_notification
  = display_base_errors resource
  = f.input :first_name, input_html: { class: "form-control" }, :autofocus => true
  = f.input :last_name, input_html: { class: "form-control" }
  = f.input :email,  input_html: { class: "form-control" }, :required => true
  = f.input :password, input_html: { class: "form-control" }, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false
  = f.input :password_confirmation, input_html: { class: "form-control" }, :required => false
  = f.input :current_password, input_html: { class: "form-control" }, :hint => "we need your current password to confirm your changes", :required => true
  = f.button :submit, 'Update', :class => 'btn btn-primary'

-# Card
- if !current_user.has_role? :admin
  %h3 Card
  %p
    Using card ending with #{@user.last_4_digits}
    %a.btn.btn-mini{"data-toggle" => "modal", :href => "#card-data", :type => "button"} Change card

-# Cancel my account
%h3 Cancel my account
Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini'}

-# Modal / Card
#card-data.modal.fade{role: "dialog"}
  = simple_form_for resource, :as => resource_name, :url => update_card_path, :html => {:method => :put, :class => 'form-horizontal card_form' } do |f|
    .modal-dialog
      .modal-content
        
        -# Header
        .modal-header
          %a.close{"data-dismiss" => "modal"} ×
          %h4 Change Credit Card

        -# Body
        .modal-body
          .form-group
            = label_tag :card_number, "Card Number", class: "col-sm-4"
            .col-sm-8
              = text_field_tag :card_number, nil, name: nil, class: "form-control"
          .form-group
            = label_tag :card_code, "Card Code", class: "col-sm-4"
            .col-sm-8
              = text_field_tag :card_code, nil, name: nil, class: "form-control"
          .form-group
            = label_tag :card_month, "Card Expiration", class: "col-sm-4"
            .col-sm-8
              = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
              = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"}
          
          -# Hidden Field
          = f.hidden_field :name
          = f.hidden_field :email
          = f.hidden_field :stripe_token
          
        -# Footer
        .modal-footer
          = f.submit "Change Credit Card", :class => "btn btn-primary"
          %a.btn{"data-dismiss" => "modal", :href => "#"} Close
