.account-container.register.stacked
  .content.clearfix
    - content_for :head do
      = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
    #stripe_error.alert.alert-error{:style => "display:none"}
    = simple_form_for(@user, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
      %h1 Create Your Account
      .login-fields
        = hidden_field_tag 'plan', params[:plan]
        %p Create your free account:
        .field
          = f.input :first_name, input_html: { class: "form-control" }, placeholder: "First Name", :autofocus => true
        .field
          = f.input :last_name, input_html: { class: "form-control" }, placeholder: "Last Name"

        .field
          = f.input :email, input_html: { class: "form-control" }, placeholder: "Email"

        .field
          = f.input :password, input_html: { class: "form-control" }, placeholder: "Password"

        .field
          = f.input :password_confirmation, input_html: { class: "form-control" }, placeholder: "Password Confirmation"

      .login-actions
        %span.login-checkbox
          %input#Field.field.login-checkbox{name: "Field", tabindex: "4", type: "checkbox", value: "First Choice"}/
          %label.choice{for: "Field"} I have read and agree with the Terms of Use.
        %button.login-action.btn.btn-primary Register
      / .actions
