= f.input :url, input_html: {class: "form-control"}
= f.input :city, input_html: {class: "form-control"}
= f.input :state, input_html: {class: "form-control"}
= f.input :zipcode, input_html: {class: "form-control"}
= f.input :house_type, input_html: {class: "form-control"}