.container
  .row
    .col-sm-6.col-xs-12
      %h2 Pictures
      = simple_form_for @house, url: house_path(@house), remote: true, html: { method: :put, class: "form-horizontal form-house" } do |f|
        = f.hidden_field :homeowner_id
        = render partial: "form", locals: {f: f}
        %br
        %button#btn_house_submit.btn.btn-primary{type: "submit"} Update
  .row
    %hr
    = form_for Picture.new, :html => { :multipart => true, :id => "fileupload"  } do |f|
      / The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload
      .row.files{"data-target" => "#modal-gallery", "data-toggle" => "modal-gallery"}
      %br
      = f.hidden_field :house_id
      .row.fileupload-buttonbar
        .col-sm-7
          / The fileinput-button span is used to style the file input field as button
          %span.btn.btn-success.fileinput-button
            %i.icon-plus.icon-white
            %span Add files...
            = f.file_field :photo, multiple: true
          %button#btn_upload.btn.btn-primary.start.hide{type: "submit"}
            %i.icon-upload.icon-white
            %span Start upload

        .col-sm-5
          / The global progress bar
          .progress.progress-success.progress-striped.active.fade
            .bar{style: "width:0%;"}
      / The loading indicator is shown during image processing
      .fileupload-loading
      %br
      / The table listing the files available for upload/download
= render "houses/script.js"