- content_for :head do
  = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
%h2 Input Credit Card
#stripe_error.alert.alert-error{:style => "display:none"}
= simple_form_for(@user, :url => registration_path(@user), :html => {:class => 'card_form form-vertical' }) do |f|
  = hidden_field_tag 'plan', params[:plan]
  = f.error_notification
  - if @user.stripe_token
    %p Credit card acceptance is pending.
  - else
    .form-group
      = label_tag :card_number, "Credit Card Number"
      = text_field_tag :card_number, nil, name: nil
    .form-group
      = label_tag :card_code, "Card Security Code (CVV)"
      = text_field_tag :card_code, nil, name: nil
    .form-group
      = label_tag :card_month, "Card Expiration"
      = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
      = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"}
    .form-group
      = f.input :coupon, :label => 'Promotional Coupon (if any)'
  = f.hidden_field :stripe_token
  = f.button :submit, 'Register', :class => 'btn-primary'
