.widget.stacked
  .widget-header
    %i.icon-user
    %h3 Users
  .widget-content
    .table-responsive
      %table.table.table-striped.table-bordered
        / Table Head
        %thead
          %tr
            %th User Name
            %th Email
            %th Registered
            %th Status
            %th Role
            %th Action
            
        / Table Head
        %tbody
          - @users.each do |user|
            %tr
              %td= link_to user.name, user
              %td= user.email
              %td= user.created_at.to_date
              %td
                %a{"data-toggle" => "modal", href: "#status-options-#{user.id}"}
                  = user.status
                = render user
              %td= user.roles.first.name.titleize unless user.roles.first.nil?
              %td
                = link_to("Delete", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger btn-sm') unless user == current_user
      = will_paginate @users, previous_label: "«", next_label: "»"